/* welcome form */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #534B52;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.container-logout {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px; /* Adjust as needed */
    height: min-content;
}

/* Welcome Text and hello name */
.text {
    color: #d5d5d5;
    letter-spacing: .05em;
    height: max-content;
    text-shadow: 
     4px 4px 0px #2c2c2c, 
     7px 7px 0px rgba(213,213,213, 0.2);
    font-size:2.8em;
    font-family: sans-serif;
    -webkit-animation: shift 2s ;
    animation: shift 2s ;
    padding-top: 10px;
    margin-top: 10%;
    text-align:center;
    text-transform:uppercase;
}

span{
    height: max-content;
    text-align:center;
    font-size: 25px;
    color: #d5d5d5;
}

h2 {
    height: max-content;
    animation: appear 2s;
    text-align:center;
    font-size: 25px;
    color: #d5d5d5;
}

h3 {
    text-align:center;
    color: #d5d5d5;
    font-size: 20px;
    animation: appear 2.5s;
    height: min-content;
}

@keyframes shift {
    0% {opacity:0;}
    33% {
     margin-top:0px;
     opacity:0;}
    100% {
     padding-top: 10px;
     margin-top: 10%;
     opacity:1;
     text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);}
 }
 
 @keyframes appear {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
 }

.error{
    color: #007bff;
}

/* SELECT OPTIONS TO DISPLAY INPUT OR UPLOAD */
.text-block{
    display: none;
    width: auto;
    height: fit-content;
}

b {
    cursor: pointer;
}

/* BUTTON CUSTOM AND UPLOAD FILE */
.buton {
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.neon {
    color: #007bff;
    font-size: 20px;
    text-shadow: 0 0 10px #007bff, 0 0 20px #007bff;
  }
  
.neon:hover {
    color: #fff;
}

.wrap-button{
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 30%;
    margin: 0 auto; /* Horizontally center the container */
}

.buton-submit {
    display: block;
    margin: 20px auto;
    width: 140px;
    height: 45px;
    margin-top: 8%;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    animation: appear 4.2s;
}
  
.buton-submit:hover {
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(46, 141, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.upload {
    margin: 0 auto;
}

#myFile {
    /* Style the file input itself */
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    height: min-content;
    font-size: 16px;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    animation: appear 4.2s;
    /* Add more styles as needed */
}
  
#myFile::file-selector-button {
    /* Style the "Choose File" button */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
      border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
  
#myFile::file-selector-button:hover {
    /* Style the button on hover (optional) */
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(46, 141, 229, 0.4);
    transform: translateY(-7px);
}

/* SELECT OPTIONS */
.select-wrapper {
    animation: appear 3.3s;
    width: 350px;
    height: fit-content;
    /* Dropdown icon */
    position: relative;
    margin: 0 auto; /* Horizontally center */
    &::before{
        color: #534B52;
    }
    &::after {
        color: #534B52;
        content: '▾';
        margin-right: 10px;
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 18px;
    }
}

/* Default state */
.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #d5d5d5;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    &:focus {
        color: #534B52;
    }
    /* Hack for IE 11+ */
    &::-ms-expand {
        display: none;
    }
}

/* RADIO CUSTOM */
.codedText {
    margin: 10px;
    color:#534B52;
    text-align:center;
    white-space: nowrap;
    cursor:pointer;  
}

.container {
    animation: appear 3.6s;
    display: grid;
    place-items: center;
    height: max-content;
    margin: 25px auto;
}
  
.btn-container {
    --btn-container-bg: #d5d5d5;
    --btn-container-border: #534B52;
}
  
.active,
  input[type="radio"]:checked + label {
    --active-btn-bg: #fffdfa;
    --active-btn-box-shadow: rgba(237, 202, 120, 0.6);
    --active-btn-text: #534B52;
}
  
.inactive,
  label {
    --inactive-btn-text: #534B52;
}
  
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 5px; */
    background-color: var(--btn-container-bg);
    border: var(--btn-container-border) 1px solid;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
  
.active, .inactive {
    width: 45.5%;
    height: 60%;
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.active {
    background-color: var(--active-btn-bg);
    box-shadow: 0 0 10px 1px var(--active-btn-box-shadow);
    font-weight: bold;
    color: var(--active-btn-text);
}
  
.inactive {
    background-color: transparent;
    color: var(--inactive-btn-text);
    text-decoration: none;
}
  
/*To be used as radio buttons*/
  
input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
  
label {
    width: 45.5%;
    height: 60%;
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--inactive-btn-text);
}
  
input[type="radio"]:checked + label {
    background-color: var(--active-btn-bg);
    box-shadow: 0 0 10px 1px var(--active-btn-box-shadow);
    font-weight: bold;
    color: var(--active-btn-text);
}

/* INPUT TEXT */
.text-prompt {
    width: 500px;
    height: min-content;
    animation: appear 3.9s;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 2% auto 0 auto;
}

.text-prompt div {
    position: relative;
    margin: 20px 0;
}

.text-prompt input {
    width: 100%;
    padding: 10px;
    outline: none;
}
 
.text-prompt label {
    text-transform: capitalize;
    font-size: 20px;
    position: absolute;
    color: #534B52;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.5s;
}
  
.text-prompt input:focus + label {
    left: 0;
    top: -15px;
    color: #fffdfa;
}